<div class="sidebar" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
<h5><span class="glyphicon glyphicon-comment glyphicon-small"></span> Moje grupy</h5>

<ul class="nav nav-pills nav-stacked">
    {foreach $userGroups as $group}
    <li>
        <a href="{siteUrl url='/group/view/'}{$group.id}">
            {$group.name}
            <!-- <span class="pull-right badge">4</span> -->
        </a>
    </li>
    {/foreach}
    <br>
    <center><a href="{siteUrl url='/group/create'}" type="button" class="btn btn-green"><span class="glyphicon glyphicon-plus glyphicon-small"></span> Dodaj grupę</a></center>
</ul>

</div>