/* 
    Created on : 2015-05-24
    Author     : Jarek
*/

$borderColor:       #40acff;
$darkColor:         #535C69;
$lightColor:        #ECF0F1;
$greenColor:        #2DCB71;


.navbar-dark {
    background-color: $darkColor;
    
    .open > a, a:hover {
        color: rgba(210,210,225,1) !important;
    }
    
    a {
        color: white !important;
    }


    
    .padding-60-60 {
        padding-left: 60px;
        padding-right: 60px;
    }
    
}

body {
    background-color: $lightColor;
}

.jumbotron {
    background-color: white;
}

.glyphicon-small {
    font-size: 12px;
    padding-right: 10px;
}

a.dropdown-toggle {
    font-weight: bold;
}

.sidebar {
    h5 {
        text-transform: uppercase;
        line-height: 40px;
    }
}

@media (max-width: 768px) {
    .affix {
        position: static;
    }
}

.affix {
    width: 262px;
}

.btn-green {
    line-height: 40px;
    text-transform: uppercase;
    border: 0;
    padding: 0 30px 0 30px;
    background-color: inherit;
    color: $darkColor !important;
    border: 1px solid $darkColor;
    &:hover {
        background-color: $greenColor;
        color: white !important;
        border: 1px solid $greenColor;
    }
}

a, .btn-link {
    color: $darkColor;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

a:hover { color: $greenColor; }

.panel-posts {
    background-color: inherit;
}

.panel, .panel-body {
    border: 0 !important;
}

a:hover, .btn, .btn-link, button {
    text-decoration: none;
}

.triangle {
    width: 0px;
    height: 0px;
    border-top: 20px solid red;
    border-left: 20px solid transparent;
    margin-top: -15px;
    margin-right: -15px;
}

.triangle-priority-1 {
    border-top: 20px solid $darkColor;
}

.triangle-priority-2 {
    border-top: 20px solid transparent;
}

.triangle-priority-3 {
    border-top: 20px solid red;
}

.panel-priority-1 {
    border-top: 2px solid silver !important;
}

.panel-priority-3 {
    border-top: 2px solid darken(red,10%) !important;
}

.panel-readed {
    opacity: .5;
}

.heading {
    color: #999;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,
.nav-pills>li>a:focus, .nav-pills>li>a:hover {
    color: $darkColor;
    background-color: white;
}

.list-group-item.active>.badge, .nav-pills>.active>a>.badge,
.nav-pills>li>a>.badge {
    color: white;
    background-color: $darkColor;
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover {
    opacity: .5;
}

hr {
    margin: 15px 0 15px 0;
}

.glyphicon.btn-link {
    padding: 0;
    margin-left: 16px;
    font-size: 12px;
    color: $darkColor;
    &:hover {
        text-decoration: none;
        color: $greenColor;
    };
}

.dropdown-menu {
  background-color: $darkColor;
  color:#fff;
  box-shadow: 0;
}