{extends '_main/_index.html'}

{block name='main'}

{include 'common/confirm_delete.html'}

<h2>{$group.name}</h2>

<form action="{siteUrl url='group/post/'}{$group.id}" method="post">
    <div class="panel-group" id="addMessage" role="tablist" aria-multiselectable="true">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#addMessage" href="#messageCollapse" aria-expanded="false" aria-controls="collapseOne">
                    Dodaj wiadomość
                </a>
            </div>
            <div id="messageCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <input type="hidden" id="postID" name="postID" value="-1" readonly="true">
                    <div class="form-group">
                        <label for="message">Treść wiadomości:</label>
                        <textarea name="message" id="message" class="form-control"></textarea>
                        <!--<span class="alert" id="mesageStatus"></span>-->
                        <label for="priority">Priorytet:</label>
                        <select id="priority" name="priority" class="form-control">
                            <option value="0">Bardzo niski</option>
                            <option value="1">Niski</option>
                            <option value="2">Średni</option>
                            <option value="3">Wysoki</option>
                            <option value="4">Bardzo wysoki</option>
                        </select>
                    </div>
                    <button class="btn btn-info" type="submit">Wyślij</button>
                    <button class="btn btn-warning" type="button" id="cancelEdit">Anuluj edycję</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="panel-group" id="lastMesages" role="tablist" aria-multiselectable="true">
    <div class="panel panel-success">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#lastMesages" href="#messageCollapse1" aria-expanded="false" aria-controls="collapseOne">
                Ostatnie wiadomości
            </a>
        </div>
        <div id="messageCollapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body" id="latestsPosts">
                <img src="{baseUrl}/img/loading.gif" alt="loading">
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="groupUsers" role="tablist" aria-multiselectable="true">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#groupUsers" href="#usersCollapse" aria-expanded="false" aria-controls="collapseOne">
                Członkowie grupy
            </a>
        </div>
        <div id="usersCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body" id="groupUsers1">
                <ul class="list-inline">
                {foreach $members as $member}
                    <li><a href="{siteUrl url='user/profile/'}{$member.id}">{$member.first_name} {$member.last_name}</a></li>
                {/foreach}
                </ul>
            </div>
            
            <div class="panel-footer">
                <a class="btn btn-info">
                    Dodaj członka do grupy
                </a>
            </div>
        </div>
    </div>
</div>

{/block}

{block name='extra_scripts' prepend}

{*tinyMCE*}
<script>
    tinymce.init({
        selector: '#message',
        toolbar: ''
    });
</script>
{*get latests posts*}
<script src="{baseUrl}/js/group/groupPosts.js"></script>

<script>
    function editMessage(messageId) {
        $('#postID').val(messageId);
        $('#messageCollapse').collapse();
        
        $.ajax({
            method: 'GET',
            url: '{siteURL url='/posts/get-post/'}' + messageId
        })
        .done(function(response) {
            var json = JSON.parse(response);
            tinymce.get('message').setContent(json.message);
            $('#priority option[value='+json.priority+']').attr('selected','selected');
            $('#cancelEdit').show();
            $(window).scrollTo($('#addMessage'),500);
        });
    }
    
    function deleteMessage(messageId) {
        $deleteModal = $('#deleteModal');
        $deleteModal.modal();
    }
    
    $('#cancelEdit').click(function(e) {
        $('#postID').val(-1);
        tinymce.get('message').setContent('');
        $('#cancelEdit').hide();
    });

    function postsAsync() {
        $.ajax({
            method: 'GET',
            url: '{siteUrl url='/posts/get-posts-from-group/'}{$group.id}'
          })
            .done(function(response) {
              var posts = JSON.parse(response);
              var element = $('#latestsPosts');
              var html = '';

              if(posts.length == 0) {
                  element.html('Brak wiadomości');
                  return;
              }

              for(var i=0,len=posts.length;i<len;++i) {
                html += '<div class="panel panel-priority panel-priority-'+posts[i].priority+'">';

                html += '<div class="panel-body">';
                html += posts[i].message;
                html += '</div>';

                html += '<div class="panel-footer">';

                html += '<div class="pull-left">';
                html += '~ <a href="{siteUrl url="/user/profile/"}'+posts[i].user_id+'">';
                html += posts[i].user_name;
                html += '</a>';
                html += '</div>';

                html += '<div class="pull-right">';

                if(posts[i].user_id == {$user.id}) {
                    html += '<span class="buttons">';
                    html += '<button class="glyphicon glyphicon-pencil btn btn-link" onclick="editMessage('+posts[i].id+')"></button>';
                    html += '<button class="glyphicon glyphicon-remove btn btn-link" onclick="deleteMessage('+posts[i].id+')"></button>';
                    html += '</span>';
                }

                if(posts[i].posted_time != null && posts[i].posted_time != undefined) {
                    html += '<span class="time">';
                    html += posts[i].posted_time;
                    html += '</span>';
                }

                html += '</div>';

                html += '<div class="clearfix"></div>';

                html += '</div>';

                html += '</div>';
              }

              element.html(html);
            });
    }

    postsAsync();
    var checkPosts = setInterval(postsAsync,10000);
</script>

{/block}