<div class="modal fade" id="deleteModal" tabindex="-1"
    role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Usunięcie wiadomości</h4>
            </div>
            <div class="modal-body">
                <p>Czy naprawdę chcesz usunąć tę wiadomość?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-name="yes" onclick="deleteMessageAjax()">Tak</button>
                <button type="button" class="btn btn-info" data-name="no">Nie</button>
            </div>
        </div>
    </div>
</div>