{extends '_main/_index.html'}

{block name='main'}

<h2>Zarejestruj się</h2>

{if $correct}
    <div class="alert alert-success">
        <string>Pomyślnie zarejestrowano</string><br>
        Możesz się teraz zalogować
    </div>
{else}
    <div class="alert alert-danger">
        <strong>Wystapił błąd podczas rejestracji</strong><br>
        Znalezione błędy:
        <ul>
            {foreach $errors as $error}
            <li>{$error}</li>
            {/foreach}
        </ul>
        <a href="{siteUrl url='/user/register'}">spróbuj ponownie</a>
    </div>
{/if}

{/block}